* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    list-style: none;
}

body {
    overflow-y: auto;
    scrollbar-width: none;  
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(https://wiki.pokexgames.com//images/a/af/Fundo-wiki.jpeg) no-repeat;
    filter: brightness(0.8);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.mainBox {
    margin: 5rem auto;
    max-width: 25rem;
    min-width: auto;
    height: 23.3rem;
    border-radius: 20px;
    background-color: aliceblue;
}
.pokemon_container{
    min-height: 170px;
    padding-top: 10px;
}

.poke_stats {
    margin-top: 3rem;
    padding: 50px;
    border-radius: 0px 0px 20px 20px;
    background-color: rgb(115, 215, 215);
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.HP{
    width: 30%;
}   
.Attack{
    width: 40%;
}
.Defense{
    width: 50%;
}
.Sp_Atk{
    width: 60%;
}
.Sp_Def{
    width: 70%;
}
.Speed{
    width: 90%;
}

.bug{
    background-color: antiquewhite;
}

.img{
    display: flex;
    justify-content: center;
}