* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(https://wiki.pokexgames.com//images/a/af/Fundo-wiki.jpeg) no-repeat;
    filter: brightness(0.8);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.form{
    text-align: center;
    padding: 0 0 0 80px;
}
.search{
    flex-wrap: wrap;
    margin: auto;
    margin-left: 80px;
}
.btn{
    border-radius: 5px;
}
.mainBox {
    max-width: 25rem;
    height: 23.3rem;
    border-radius: 20px;
    margin: auto;
    background-color: aliceblue;
}

.pokemon_container{
    height: 200px;
}

.img{
    display: flex;
    justify-content: center;
    text-align: center;
}
.poke_img{
    width: 8rem;
    height: 8rem;
}

.poke_stats {
    margin-top: 10px;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    border-radius: 0px 0px 20px 20px;
    background-color: rgb(115, 215, 215);
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

tr > th, td{
    width: 5.2rem;
    text-align: center;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}

.types{
    margin: 5px;
    padding: 2px 6px;
    border-radius: 2px;
    border: 1px solid #000000;
    background-color: antiquewhite;
}

.normal {
    background-color: #b7b7aa;
}

.fire {
    background-color: #ff6f52;
}

.water {
    background-color: #42a1ff;
}

.electric {
    background-color: #fecc33;
}

.grass {
    background-color: #78cc55;
}

.ice {
    background-color: #66ccfe;
}

.fighting {
    background-color: #d3887e;
}

.poison {
    background-color: #c68bb7;
}

.ground {
    background-color: #dfba52;
}

.flying {
    background-color: #8899ff;
}

.psychic {
    background-color: #ff66a3;
}

.bug {
    background-color: #aabb23;
}

.rock {
    background-color: #baaa66;
}

.ghost {
    background-color: #9995d0;
}

.dragon {
    background-color: #9e93f1;
}

.dark {
    background-color: #b59682;
}

.steel {
    background-color: #abaabb;
}

.fairy {
    background-color: #ed99ed;
}

